{% extends "layout/base_login.html" %}

{% block content %}

 <div class="page-header d-flex align-items-center">
      <div class="container position-relative">
            <div class="container">
              <div class="row">
                <section class="col-md-4 offset-md-4 mt-5">
              <form action="/signin/" method="POST" class="card card-body bg-dark">
              <h1 class="text-center text-light bg-dark">Iniciar Session</h1>

            <p >
            {{error}}
            </p>

              {% csrf_token %}
             <div class="mb-3">
                  <label for='username'>Username:</label>
                  <input type="text" name="username" class="form-control" placeholder="escribir tu usuario">
                </div>

               <div class="mb-3">
                  <label for='password' >contraseña:</label>
                  <input type="password" name="password" class="form-control" placeholder="escribir contraseña">
                </div>
              <button class="btn btn-secondary">
                Signin
              </button>
            </form>
            </section>
              </div>
            </div>
    </div>

 </div>
{% endblock %}